In [ ]:
import pandas as pd

In [ ]:
data=pd.read_csv('housing.csv')

In [ ]:
data

In [ ]:
data.count()

In [ ]:
data.isnull().sum()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
sns.heatmap(data.isnull())
plt.show()

1.convert the datatype of 'date' column to data-time format

In [ ]:
data.dtypes

In [ ]:
data.date=pd.to_datetime(data.date)

In [ ]:
data.dtypes

2.1.add a new column 'year' in dataframe that contains year only.

In [ ]:
data['year']=data.date.dt.year

In [ ]:
data

2.2. add a new column 'month' as 2nd column in the dataframe,which contains month only.

In [ ]:
data.insert(1,'month',data.date.dt.month)

In [ ]:
data

2.3.remove the column 'month' and 'year' from the dataframe

In [ ]:
data.drop(['month','year'],axis=1,inplace=True)

In [ ]:
data

2.4.show a;; the reords where 'no. of crimes' is 0 and how many such records are there?

In [ ]:
data[data.no_of_crimes==0]

2.5.what is the minimum and maximum 'average_price' per year in england.

In [ ]:
data['year']=data.date.dt.year

In [ ]:
data

In [ ]:
df=data[data.area =='england']

In [ ]:
df

In [ ]:
df.groupby('year').average_price.max()

In [ ]:
df.groupby('year').average_price.min()

what is the maximum and minimum no. of crimes recorded per area?

In [ ]:
data.head(2)

In [ ]:
data.groupby('area').no_of_crimes.max()

In [ ]:
data.groupby('area').no_of_crimes.min().sort_values(ascending=True)

show total count of records of each area,where average price is less than 100000

In [ ]:
data[data.average_price<100000].area.value_counts()