In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
import seaborn as sb
print(sb.get_dataset_names())

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'exercise', 'flights', 'fmri', 'gammas', 'geyser', 'iris', 'mpg', 'penguins', 'planets', 'tips', 'titanic']

In [2]:
import seaborn as sb
import pandas as pd
df=pd.read_csv('sale.csv')
print(df)

       Order ID                     Product Quantity Ordered Price Each  \
0        176558        USB-C Charging Cable                2      11.95
1           NaN                         NaN              NaN        NaN
2        176559  Bose SoundSport Headphones                1      99.99
3        176560                Google Phone                1        600
4        176560            Wired Headphones                1      11.99
...         ...                         ...              ...        ...
186845   259353      AAA Batteries (4-pack)                3       2.99
186846   259354                      iPhone                1        700
186847   259355                      iPhone                1        700
186848   259356      34in Ultrawide Monitor                1     379.99
186849   259357        USB-C Charging Cable                1      11.95

             Order Date                         Purchase Address
0        4/19/2019 8:46             917 1st St, Dallas, TX 75001
1                   NaN                                      NaN
2        4/7/2019 22:30        682 Chestnut St, Boston, MA 02215
3       4/12/2019 14:38     669 Spruce St, Los Angeles, CA 90001
4       4/12/2019 14:38     669 Spruce St, Los Angeles, CA 90001
...                 ...                                      ...
186845  9/17/2019 20:56   840 Highland St, Los Angeles, CA 90001
186846   9/1/2019 16:00  216 Dogwood St, San Francisco, CA 94016
186847   9/23/2019 7:39     220 12th St, San Francisco, CA 94016
186848  9/19/2019 17:30   511 Forest St, San Francisco, CA 94016
186849   9/30/2019 0:18   250 Meadow St, San Francisco, CA 94016

[186850 rows x 6 columns]

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
def sinplot(flip=1):