In [3]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

ModuleNotFoundError: No module named 'mysql'

In [ ]:
def create_server_connection(host_name,user_name,user_password):
    connection=None
    try:
        connnection = mysql.connector.connect{
            host=host_name;
            user=user_name;
            passwd=user_password
        }
        
        print("mysql database connectiom succesful")
        except Error as err:
            print(f"Error: '{err}'")
            return connection
        
pw="Ankita24@"
        
#database name
db="mysql_python"
connection=create_server_connection("localhost","root",pw)

In [ ]:
#create mysql python
def create_database(connection,query):
    cursor=connection.cursor()
    try:
        cursor.execute(query)
        print("database create successfully")
        except Error as err:
            print(f"Error: '(err)'")
create_database_query="create database mysql_python"
create_database(connection,create_databse_query)

In [ ]:
#connect to database

def create_db_connection(host_name,user_name,user_password,db_name):
    connection=None
    try:
        connection=mysql.connector.connect{
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        }
        print("mysql database connection sucessful")
        except Error as err:
            print(f"Error: '{err}'")
        return connection

In [ ]:
#execute sql queries
def execute_query(connection,query):
    cursor=connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        prin("query was sucessful")
    except Error as err:
        print(f"Error: '{err}'")

In [ ]:
create_orders_table="""
create table orders(order_id int primary key,
customer_name varchar(30) not null,
product_name varchar(30) not null,
date_ordered date,
quantity int,
unit_price float,
phone_number varchar(20));
"""

#connect to the databse
connection=create_db_connection("localhost","root",pw,db)
execute_query(connection,create_orders_table)

In [ ]:
#insert data
data_orders="""
insrt into orders values
(101,"steve","laptop","2018-06-12",2,800,"897644532"),
(105,"ankita","mobile","2018-06-21",3,900,"897444532");
"""
connection=create_db_connection("localhost","root",pw,db)
execute_query(connection,data_orders)

In [ ]:
def read_query(connection,query):
    cursor=connection.cursor()
    result=None
    try:
        cursor.execute(query)
        result=cursor.fetchall()
        return result
    except Error as err:
        print(f"Error: '{err}'")

In [ ]:
#usig the select statement
q1="""
select * from orders;
"""
connection=create_db_connection("localhost","root",pw,db)
results=read_query(connection,q1)
for result in results:
    print(result)

In [ ]:
#usig the select statement
q2="""
select customer_name,phone_number from orders;
"""
connection=create_db_connection("localhost","root",pw,db)
results=read_query(connection,q2)
for result in results:
    print(result)

In [ ]:
#usig the select statement
q3="""
select year(datae_ordered) from orders;
"""
connection=create_db_connection("localhost","root",pw,db)
results=read_query(connection,q3)
for result in results:
    print(result)

In [ ]:
#usig the select statement
q1="""
select distinct year(datae_ordered) from orders;
"""
connection=create_db_connection("localhost","root",pw,db)
results=read_query(connection,q4)
for result in results:
    print(result)

In [ ]:
#usig the select statement
q5="""
select * from orders where date_ordered < "2018-12-31";
"""
connection=create_db_connection("localhost","root",pw,db)
results=read_query(connection,q5)
for result in results:
    print(result)

In [ ]:
#usig the select statement
q6="""
select * from orders where date_ordered > "2018-12-31";
"""
connection=create_db_connection("localhost","root",pw,db)
results=read_query(connection,q6)
for result in results:
    print(result)

In [ ]:
#usig the select statement
q7="""
select * from orders order by unit_price;
"""
connection=create_db_connection("localhost","root",pw,db)
results=read_query(connection,q7)
for result in results:
    print(result)

In [ ]:
from_db=[]

for result in results:
    result=list(result)
    from_db.append(result)
columns=["order_id,""customer_name","product_name","date_ordered","quantity","unit_price","phone_number"]
df = pd.DataFrame(from_db,columns=columns)

display(df)

In [ ]:
#update command

update = """
update orders
set unit_price = 45
where order_id=103
"""

connection=create_db_connection("localhost","root",pw,db)
execute_query(connection,update)

In [ ]:
q8="""
select * from oorders where order_id=103;
"""
connection=create_db_connection("localhost","root",pw,db)
results=read_query(connection,q8)
for result in results:
    print(result)

In [ ]:
#deletre command
delete_order="""
delete from orders
where order_id=105;
"""
connection=create_db_connection("localhost","root",pw,db)
results=read_query(connection,delete_order)
for result in results:
    print(result))